@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Genos:wght@300&family=IBM+Plex+Sans:wght@500&family=Merriweather+Sans:wght@700&family=Mulish:wght@800&family=Oswald:wght@600&family=Poppins:wght@700&family=Roboto&family=Russo+One&family=Teko:wght@600&display=swap');
/*Google Fonts*/
$yazitipi:Russo one;
$arkaplanrengi:rgb(206, 173, 173);
$icrenk:rgba(151, 149, 149, 0.562);
$shadow:9px 9px 5px;
body{
    background-color: $arkaplanrengi;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


header{
    width: 80%;
    height: 100px;
    margin-left: 10%;
    margin-top: 1%;
    background-color: $icrenk;
    box-shadow: 9px 9px 5px;
    text-align: center;
    
    #logo{
        width:100px;
        height: 100px;
        margin-left: 3%;
        float: left;
        
        img{
            width: 100%;
            height: 100%;
        }
    }
    #search{
        width: auto;
        height: auto;
        margin-top:2%;
        display: inline-block;
        
        span{
            vertical-align: top;
            display: inline-block;
            margin-top: 1%;
            font-size: 25px;
            border-bottom: 2px solid black;
            text-shadow: 3px 3px 5px;
            border-radius: 10px;
            margin-right: 6px;
            
            
        }
        textarea{
            
            width: 80%;
            max-width: 80%;
            height: 35px;
            resize: none;
            outline: none;
            border-radius: 25px;
            padding: 5px;
            font-size: 16px;
            background-color:rgba(245, 241, 227, 0.562) ;
           
            &:focus{
                border:2px black solid;
            }
        }
    }
    #user{
        width: auto;
        height: auto;
        margin-top: 1.7%;
        margin-right: 2%;
        float: right;
        a{
            display: inline-block;
            vertical-align: top;
            margin-top: 5%;
            font-size: 21px;
            font-family: cursive;
            font-weight: 600;
            color: black;
            border-bottom:2px solid black;
            border-radius: 8px;
            &:active{
                position: relative;
                top: 2px;
            }
        }
        :nth-child(1){
            margin-right: 25px;
        }
        :nth-child(2){
            margin-left: -25px;
            
        }
        :nth-child(3){
            margin-left: 25px;
        }
    }
}
nav{
    width: 80%;
    height: auto;
    margin-top: 1%;
    margin-left: 10%;
    background-color: $icrenk;
    box-shadow: $shadow;
   
    
    ul{
        width: 100%;
        height: 50px;
        display: inline-block;
        text-align: center;
        margin-top: 1.5%;
        
        li{
            
            display: inline-block;
            margin-left: 5%;
            font-size: 22px;
            font-weight: bold;
            font-family: $yazitipi;
            
        }
    }
}
main{
    width: 80%;
    height:auto;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: $shadow;
    text-align: center;
    
    h1{
        font-size: 25px;
        font-weight: bold;
        font-family: $yazitipi;
        color: rgba(197, 46, 46, 0.774);
    }
    #urunler{
    ul{
        width: 100%;
        height:auto;
        column-count: 4;
        padding-right: 1.5%;
        padding-left: 1.5%;
        padding-bottom: 1.5%;
        background-color: $icrenk;
        
        li{
           /*  margin-top: 1%;
            margin-left: 1.6%;
            margin-right: 1.4%;
            margin-bottom: 1%; */
            
            width: 100%;
            height: 300px;
            float: left;
            background-color: rgb(83, 86, 88);
            box-shadow: $shadow;
            margin-top:5%;
            margin-bottom: 5%;
            
            
            img{
               width: 100%;
               height: auto;
            }
        }
    }
}
}
footer{
    width: 80%;
    height: auto;
    overflow: hidden;
    background-color: $icrenk;
    margin-left: 10%;
    box-shadow: $shadow;
    margin-bottom: 1%;
    text-align: center;
    .social-media{
        float: left;
        vertical-align: top;
        width: auto;
        height: 80px;
        img{
            width: 30%;
            height: 100%;
            
        }
    }
    h2{
        vertical-align: top;
        margin-top: 2%;
        display: inline-block;
        text-transform: capitalize;
    }
    p{
        display: inline-block;
        max-height: 90px;
        max-width: 250px;
        float: right;
        margin-right: 25px;
        font-size: 1
        8px;
        font-family: $yazitipi;
        overflow: auto;
        word-break:break-all;
        text-align: justify;
        
        &::-webkit-scrollbar{
            display: none;
        }
    }
}
/*ekran boyutu 0 ile 1200 px arasında ise bu kod çalışıcak*/
@media screen and (max-width:1200px)
{
    header {
        text-align: center;
        #search{
            width: 45%;
            margin-top: 3%;
            textarea{
                width:75%;
            }
                    
        }
    }
    /*main*/
    main{
        
        section#urunler{
            
            ul{
                column-count: 2;
                
                li{
                    box-shadow: 5px 10px 7px black;
                    
                    
                }
                
                
            }
        }
    }
    footer{
        width: 100%;
        margin-left: 0%;
        .social-media{
            margin-top: 1%;
            img{
                width: 30%;
                height: 80%;
            }
        }
    }
}
/*Footer*/


/*ekran boyutu 0 ile 900 px arasında ise bu kod çalışıcak*/
@media screen and (max-width: 910px)
{
    header{
        width: 100%;
        margin-left: 0%;
        #search{
            width: 50%;
            margin-left: 1%;
            text-align: left;
            span{
                font-size: 22px;
                
            }
        }
        section#logo{
            margin-left: 0%;
        }
        section#user{
            margin-top: 3%;
            :nth-child(3){
                margin-left: 4px;
            }
            img{
                width: 35px;
                height: 35px;
            }
            a{
                font-size: 17px;
            }
        }
    }
    main{
        section#urunler{
            
            ul{
                column-count: 2;
                li{
                    box-shadow: 0px 9px 7px black;
                }
                
            }
        }
    }
    footer{
        
        h2{
            margin-top: 3%;
            font-size: 22px;
        }
        .social-media{
            margin-top: 0%;
            overflow: auto;
            &::-webkit-scrollbar{
                display: none;
            }
            a{
                display: block;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
        p{
            width: 220px;
        }
    }
}

@media screen and (max-width: 730px){
    nav{
        ul{
            text-align: center;
            li{
                margin-left: 2%;
            }
        }
    }
    footer{
        text-align: left;
        p{
            width: 140px;
        }
    }
}
/*ekran boyutu 0 ile 600 px arasında ise bu kod çalışıcak*/
@media screen and (max-width: 635px)
{
    header{
        #logo{
            display: none;
        }
    }
    nav{
        width: 100%;
        margin-left: 0%;
    }
    main{
        section#urunler{
            
            ul{
                padding-left: 17%;
               padding-right: 0;
                column-count: 1;
                text-align: center;
                li{
                    width: 80%;
                    box-shadow: $shadow;
                    
                }
                
            }
        }
    }
    footer{
        .social-media{
            display: none;
        }
    }
}